/* ubuntu-regular - latin */
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Ubuntu/ubuntu-v20-latin-regular.woff2") format("woff2"),
		url("../fonts/Ubuntu/ubuntu-v20-latin-regular.woff") format("woff");
}

/* ubuntu-500 - latin */
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Ubuntu/ubuntu-v20-latin-500.woff2") format("woff2"),
		url("../fonts/Ubuntu/ubuntu-v20-latin-500.woff") format("woff");
}
